<h1>Favorites</h1>


<div class="grid grid-pad">
  <a *ngFor="let dog of likedDogs" class="col-1-4">
  <mat-card class="liked-dog" (click)="nameDog()">

      <mat-card-header *ngIf="dog !== null" class="dogHeader">
        <h4>{{dog.name}}</h4>
      </mat-card-header>

    <div *ngIf="dog !== null" class="container">
      <!--        <img mat-card-image src="https://images.dog.ceo/breeds/terrier-irish/n02093991_3695.jpg" alt="Photo of a Shiba Inu">-->

      <img mat-card-image src="{{ dog.imageURL }}">
      <div class="overlay"></div>
      <div class="button" (click)="this.removeDog(dog)"><a> DELETE </a></div>
      <div class="input">
        <label class="dogName">Name:
          <input [(ngModel)]="dog.name" placeholder="name">
        </label>
      </div>
    </div>

  </mat-card>
  </a>
</div>
