/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 10px;
}

.col-1-4 {
  width: 33%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #3f525c;
  border-radius: 2px;
}
.module:hover {
  background-color: #eeeeee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 190px;
  grid-row-gap: 100px;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
h1 {
  padding: 10px 200px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}



.example-card {
  max-width: 400px;
  width: 300px;
  height: 250px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.container {
  position: relative;
  margin-top: 50px;
  width: 300px;
  height: 200px;
}

.overlay {
  position: relative;
  top: -15px;
  left: -15px;
  width: 300px;
  height: 200px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}


.container:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 300px;
  left: -20px;
  top: 80px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}


img {
  position: relative;
  float: left;
  width:  300px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
